# Node
backend/node_modules/
backend/package-lock.json

electron/node_modules/
electron/package-lock.json
frontend/node_modules/
frontend/package-lock.json
# Env/secrets
backend/.env
backend/credentials/google-service-account.json
# Logs
*.log
backend/npm-debug.log*

# OS/Editor
.DS_Store
Thumbs.db
